@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .section-padding {
    @apply py-16 px-4 sm:px-8 md:px-16 lg:px-24;
  }
  
  .heading {
    @apply text-3xl sm:text-4xl font-bold mb-8 text-textPrimary;
  }
}html {
  scroll-behavior: smooth;
}

.scroll-down-button {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}